/**********************************
	GENERAL
**********************************/
* {
	box-sizing: border-box;
}

html {
	background-image: url(manu-bg.jpg);
	background-repeat: repeat-y;
	background-size: cover;
	min-width: 320px;
}



/**********************************
	WELCOME SCREEN
**********************************/
/*-------Welcome Top Text---------*/

section.welcome {
	width: 100%;
	display: flex;
	justify-content: center;
}

div.welcome-text {
	background: rgba(255, 255, 255, 0.7);
	border-bottom: 5px solid black;
	width: 100%;
	height: 20%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;	
	overflow: auto;
}

.welcome h1 {
	position: absolute;
	color: #DF0202;
	text-align: center;
	padding: 5px 10px;
	text-shadow: 2px 2px 5px black;
	font-weight: bolder;
	font-size: 3em;
}

/*-------Start Quiz---------*/

div.start {
	background: rgba(255, 255, 255, 0.8);
	border: 3px solid black;
	width: 200px;
	height: 65px;
	position: absolute;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.start a {
	text-decoration: none;
}

.start h3 {
	font-size: 2em;
	color: #DF0202;
	padding: 5px 10px;
}

div.start:hover {
	position: absolute;
	top: 50.5%;
	text-shadow: 2px 2px 2px black;
}



/************************************
	Quiz Page
************************************/

div.question-container {
	background: rgba(255, 255, 255, 0.8);
	border: 3px solid black;
	width: 70%;
	position: absolute;
	top: 50%;
	left: 15%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.hidden {
	display: none;
}



/************************************
	FOOTER
************************************/

footer {
  padding-top: 5px;
  background: rgba(255, 255, 255, 0.8); 
  text-align: center;
  clear: both;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  display: inline-block;
}

footer p {
	display: inline-block;
	margin: 5px;
	font-weight: bold;
	color: #606060;
}


